* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rebeccapurple;
  background-color: aqua;
  padding: 10px 20px;
}

aside {
  padding: 10px 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

aside, main {
  display: inline-block;
  vertical-align: top;
  /* outline: 1px dashed red; */
}

main {
  width: 300px;
  padding: 10px 20px;
}